.addgroup-container{
    display: flex;
    min-width: 90vw;
    flex-direction: column;
}
.addgroup-btn-back{
    
    display: flex;
    min-width: 75vw;
    height: 90px;
    justify-content: end;
    align-items: end;

}
.addgroup-header{
    margin-top: 20px;
    margin-left: 40px;
    height: 60px;
    min-width: 75vw;

    display: flex;
}
.title{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color: #063970;
}
.addgroup-content{
    display: flex;
    min-width: 80vw;
    flex-direction: row;
}
.addgroup-content-input{
    display: flex;
    margin-right: 2%;
    min-width: 60vw;
}

.addgroup-content-btn{
    display: flex;
    width: 100px;
}
