.Auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 254, 253);
    width: 550px;
    height: 100vh;
}

.Auth-form-content{
    padding-left: auto;
    padding-right: auto;
}

.Auth-form-title {
    text-align: center;
    margin-bottom: 1em;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color: #063970;
  }

.Auth-form-subtitle {
    text-align: center;
    margin-bottom: 1em;
    font-size: 10px;
    color: rgb(15, 110, 199);
  }

p {
    font-size: 10px;
    color: rgb(11, 86, 156);
  }
.button-center {
    margin: 0;
    position: absolute;
    top: 0%;
    left: 30%;
}


