


.container-from {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        min-width: 90vw;
        min-height: 10vh;
        text-align: center;
        margin-top: 3%;
        
}

.button-size {
    display: flex;
    justify-content: space-between;
}

.button-cancel {
    width: 90px;
    background-color: #635b5b;
    text-align: center;
    color: white
}

.button-save {
    width: 90px;
    text-align: center;
    color: white
}



.title{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color: #063970;
}