.menubar-container{
    margin-top: 0;
    width: 200px;
    height: 645px;
    background-color: #063970;
}
.menubar-img {
    margin-left: 35px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    
}
.menubar-itemtop{
    display: flex;
    flex-direction: column;
}
