

.menubar-img {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;

}




.StyledMenuContainer  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 200px);
}