.site-card-wrapper{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
}
.box{
    display: flex;
    justify-content:space-around;
    height: 150px;
    margin-bottom: 20px;
}
.box-add{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    margin-bottom: 20px;
}
.card-action{
    display: flex;
    width: 150px;
    justify-content: end;
    align-items: flex-start;
}
.card-name{
    margin-top: 20px;
    display: flex;
    width: 150px;
    height: 60px;
    justify-content: start;
    align-items: flex-end;
}
.card-title{
    display: flex;
    width: 150px;
    justify-content: start;
    align-items: flex-end;
    font-size: 13px;
    color: grey;
    font-weight:400;

}
.card-action-btn{
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* .container-list{
    display: flex;
    position: absolute;
    justify-content:space-around;
    justify-items: space-around;
    margin-top: 40px;
    margin-left: 40px;
    flex-direction: row;

} */