.card-img{
    width: 70px;
}
.card-name{
    display: flex;
    justify-content: start;
    width: 430px;


}
.card-title{
    display: flex;
    justify-content: start;
    width: 500px;
    
}
.card-action{
    width: 100px;
    display: flex;
    justify-content: space-evenly;
}