
.username{
    display: flex;
    color: #000;
    font-family: "Work Sans";
    font-size: 18px;
}
.address{
    display: flex;
    font-family: "Work Sans";
    font-size: 16px;
    color: rgb(146, 146, 146);

}
.card-action{
    display: flex;
    justify-items:auto;
}

