.box{
    display: flex;
    justify-content:space-around;
    width: 150px;
    height: 150px;
    background-color: aqua;
}
.card-action{
    display: flex;
    width: 150px;
    justify-content: end;
    align-items: flex-start;
}
.card-name{
    margin-top: 20px;
    display: flex;
    width: 150px;
    justify-content: start;
}
.card-title{
    display: flex;
    width: 150px;
    justify-content: start;
    font-size: 13px;
    color: grey;
    font-weight:400;
}
.card-action-btn{
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container-list{
    display: flex;
    position: absolute;
    justify-content:space-around;
    justify-items: space-around;
    margin-top: 40px;
    margin-left: 40px;
    flex-direction: row;

}