.userlist-container{
    display: flex;
    width: 1160px;
    flex-direction: column;
}
.userlist-header{
    display: flex;
    width: 1100px;
    height: 150px;
    margin-top: 50px;
    margin-left: 20px; 


}
.userlist-title{
    width: 920px;
    display: flex;
}
.title{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color: #063970;
}
.userlist-button{
    width: 180px;
    display: flex;
    justify-content: end;
    align-items: end;
}

.userlist-card{
    margin-top: 50px;
    margin-left: 20px;
    display: flex;
    width: 1100px;
    flex-direction: column;

}